<div class="containers">
  <div class="contact1">
    <h4><i class="fa-solid fa-phone"></i>+91 9787583847</h4><h4><i class="fa-regular fa-envelope"></i>mobinweldings@gmail.com</h4>
  </div>
  <div class="contact2">
    <h4><i class="fa-brands fa-google-play" id="google"></i></h4>
    <h4><i class="fa-brands fa-facebook-f" id="facebook"></i></h4>
    <h4><i class="fa-brands fa-whatsapp" id="whatsapp"></i></h4>
    <h4><i class="fa-brands fa-twitter" id="twitter"></i></h4>
    <h4><i class="fa-brands fa-instagram" id="location"></i></h4>
  </div>
</div>
