.containers{
  // border: 2px solid blue;
  display: flex;
  width: 100%;
  height: 08vh;
  background-color: #5e17eb28;
  .contact1{
    display: flex;
    padding-top: 17px;
    h4{
      margin-left: 45px;
      color: rgba(128, 0, 128, 0.514);
      i{
        color: #3b5998;
        margin-right: 10px;
      }
    }
  }
  .contact2{
    display: flex;
    margin-left: 700px;
    padding-top: 17px;
    h4{
      margin-left: 35px;
      i{
        font-size: 18px;
      }
      #google{
        color: 	#0F9D58;
      }
      #facebook{
        color: #3b5998;
      }
      #whatsapp{
        color: #25D366;
      }
      #twitter{
        color: #00acee;
      }
      #location{
        color: #FF0000;
      }
    }
  }
}
