.containers{
  // border: 1px double red;
  width: 100%;
  height: 100vh;
  .header{
    width: 100%;
    height: 22vh;
    // border: 2px solid darkblue;
  }
  .login{
    width: 100%;
    height: 93vh;
    // border: 3px double darkcyan;
  }
  .footer{
    // border: 6px solid yellowgreen;
    width: 100%;
    height: 42vh;
  }
}
